{% extends 'base.html.twig' %}

{% block title %}New Quiz{% endblock %}

{% block body %}
    <h1>New Quiz</h1>

    {{ form_start(quizForm) }}
        {{ form_row(quizForm.theme) }}
        {{ form_row(quizForm.date) }}

        <button type="submit" class="btn">Submit Quiz</button>
    {{ form_end(quizForm) }}
{% endblock %}
