{% set isGridAddEnabled = true %}

<div class="grid">

	{% if isGridAddEnabled %}
	<div class="btnAdd-container">
		{% block btnAdd %}
			<a href="grid_add" class="btnAdd">
			<img src="src/add.png" alt="add" class="btnAdd-img">
			</a>
		{% endblock %}
	</div>		
	{% endif %}

	<div class="content-container">
	<div class="items-container">
		{% for item in quizz %}
			{% include "grid/item.html.twig" %}
		{% endfor %}
	</div>

	<div class="paginate-container">
		{# to change : link to add the number #}
		{% set paginateBase = "/blog/p" %}
		{# to change : the structure for the paginate #}
		{% set pageInfo = { totalPages : 2, currentPage : 1, prevUrl : "/ggg/g", nextUrl : "/ggg/g", total:5} %}
		{% if pageInfo.totalPages > 1 %}
			<ul>
				{% for pageNumber in 1..pageInfo.totalPages %}
					<li class="paginate-item {% if pageInfo.currentPage == pageNumber %} active-page {% endif %}">
						<a href="{{ paginateBase ~ pageNumber }}" class="paginate-link">{{ pageNumber }}</a>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	</div>

</div>
