{% set isDeleteEnabled = true %}
{% set isEditEnabled = true %}
{% set isPlayEnabled = true %}
{% set isScoreEnabled = true %}
{% set isListEnabled = true %}
{% set isRankingEnabled = true %}

<div class="item-container">
	{% if isDeleteEnabled %}
		<div class="item-delete-container">
			<a href="{{ path('app_quiz_delete', { id: item.id }) }}" class="item-delete-link">
				<img src="src/delete.png" alt="delete" class="item-delete-image"/>
			</a>
		</div>
	{% endif %}

	{% if isEditEnabled %}
		<div class="item-edit-container">
			<a href="edit/id" class="item-edit-link">
				<img src="src/edit.png" alt="edit" class="item-edit-image"/>
			</a>
		</div>
	{% endif %}

	{% if isPlayEnabled %}
		<div class="item-play-container">
			<a href="{{ path('app_create_session', { quizId: item.id }) }}" method="post" class="item-play-link">
				<img src="src/play.png" alt="play" class="item-play-image"/>
			</a>
		</div>
	{% endif %}

	<div class="item-title-container">
		<p class="item-title">
			{% block title %}
				{{item.title}}
			{% endblock %}
		</p>
	</div>

	{% if isScoreEnabled %}
		<div class="item-score-container">
			<p class="item-score">
				{% block score %}0%
				{% endblock %}
			</p>
		</div>
	{% endif %}

	{% if isListEnabled %}
		<div class="item-list-container">
			<a href="list/id" class="item-list-link">
				<img src="src/list.png" alt="list" class="item-list-image"/>
			</a>
		</div>
	{% endif %}

	{% if isRankingEnabled %}
		<div class="item-ranking-container">
			<a href="ranking/id" class="item-ranking-link">
				<img src="src/ranking.png" alt="ranking" class="item-ranking-image"/>
			</a>
		</div>
	{% endif %}

</div>
