{% set isDeleteEnabled = true %}
{% set isEditEnabled = true %}
{% set isPlayEnabled = true %}
{% set isScoreEnabled = true %}
{% set isListEnabled = true %}
{% set isRankingEnabled = true %}

<div class="item-container">
    {% if isDeleteEnabled %}
	<div class="item-delete-container">
        <a href="delete/id" class="item-delete-link">delete</a>
	</div>
    {% endif %}
    
    {% if isEditEnabled %}
	<div class="item-edit-container">
        <a href="edit/id" class="item-edit-link">edit</a>
	</div>
    {% endif %}
    
    {% if isPlayEnabled %}
	<div class="item-play-container">
        <a href="play/id" class="item-play-link">play</a>
	</div>
    {% endif %}

    <div class="item-title-container">
        {% block title %}Title{% endblock %}
    </div>
    
    {% if isScoreEnabled %}
	<div class="item-score-container">
        {% block score %}0%{% endblock %}
	</div>
    {% endif %}
    
    {% if isListEnabled %}
	<div class="item-list-container">
        <a href="list/id" class="item-list-link">list</a>
	</div>
    {% endif %}
    
    {% if isRankingEnabled %}
	<div class="item-ranking-container">
        <a href="ranking/id" class="item-ranking-link">ranking</a>
	</div>
    {% endif %}

</div>
