.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-color: crimson;

    .btnAdd-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;

        .items-container {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 1rem;
        }

        .paginate-container {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 1rem;
        }
    }

}

.item-container {
    background-color: limegreen;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .item-delete-container {
        .item-delete-link {

        }
    }

    .item-edit-container {
        .item-edit-link {

        }
    }
    
    .item-play-container {
        .item-play-link {

        }
    }

    .item-title-container
    {

    }

    .item-score-container
    {

    }

    .item-list-container{
        .item-list-link{

        }
    }

    .item-ranking-container{
        .item-ranking-link{

        }
    }


}