.app_bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    background-color: @app-bar-bg-color;
    min-height: 70px;
    height: fit-content;
    width: 100%;
    box-shadow: 1px 2px 4px 0px #000;
    border-radius: 9px;

    margin: 0px 0px 15px 0px;

    .logo-link {
        margin: 0 10px;

        .logo {
            box-shadow: unset;
        }
    }

    .profil-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        .profil-link{

            .profil-logo {

            }
        }

        .signin {
            margin: 0 10px;
        }

        .profil-separator {
            margin: 0 10px;
        }

        .signup {
            margin: 0 10px;
        }
    }
}