{% extends "base.html.twig" %}

{% set quizzTitle = "title" %}
{% set quizzFile = "src/test.png" %}
{% set questions = [
    {
        "id": 1,
        "title": "Question 1",
        "type": "list",
        "image": "src/test.png",
        "answers": [
            {
                "title": "Answer 1",
                "correct": true,
            },
            {
                "title": "Answer 2",
                "correct": false,
            },
            {
                "title": "Answer 3",
                "correct": false,
            }
        ]
    },
    {
        "id": 2,
        "title": "Question 2",
        "type": "image",
        "image": "src/test.png",
        "answers": [
            {
                "title": "Answer 4",
                "correct": true,
            },
            {
                "title": "Answer 5",
                "correct": true,
            },
            {
                "title": "Answer 6",
                "correct": false,
            }
        ]
    },
    {
        "id": 3,
        "title": "Question 3",
        "type": "list",
        "image": "src/test.png",
        "answers": [
            {
                "title": "Answer 7",
                "correct": false,
            },
            {
                "title": "Answer 8",
                "correct": false,
            }
        ]
    }
] %}


{% block body %}

	<form action="quizz" method="post">

		<div class="title-container">
			<input type="text" name="quizzTitle" class="title-field" value="{{ quizzTitle }}" placeholder="Title">
		</div>

		{% for question in questions %}
			{% include "quiz/question.html.twig" %}
			<div class="adding-question">
				<a href="addQuestion" class="add-question-link">
					<img src="src/add.png" class="add-question-icon">
				</a>

				<div class="question-type-container">
                    <input type="radio" name="questionType" class="question-type" value="image">
                    <input type="radio" name="questionType" class="question-type" value="list">
                </div>
			</div>
		{% endfor %}


		<div class="footer">
			<div class="share-container">
				<a href="share" class="share-link">
					<img src="src/share.png" class="share-icon">
				</a>
			</div>

			<div class="button-container">
				<button type="submit" class="button">Save</button>
			</div>
		</div>

	</form>

{% endblock %}
