<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{# 'app' must match the first argument to addEntry() in webpack.config.js #}
			{{ encore_entry_link_tags('app') }}

			<!-- Renders a link tag (if your module requires any CSS) -->
			<link rel="stylesheet/less" type="text/css" href="app.less"/>
			<link rel="stylesheet/less" type="text/css" href="base.less"/>
			<link rel="stylesheet/less" type="text/css" href="variables.less"/>
			<link rel="stylesheet/less" type="text/css" href="util.less"/>
			<link rel="stylesheet/less" type="text/css" href="grid.less"/>
			<link rel="stylesheet/less" type="text/css" href="quizz.less"/>
			<link rel="stylesheet/less" type="text/css" href="session.less"/>
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}

			<!-- Renders app.js & a webpack runtime.js file
																		                <script src="/build/runtime.js" defer></script>
																		                <script src="/build/app.js" defer></script>
																		                See note below about the "defer" attribute -->
			<script src"/build/app.js" defer></script>
		{% endblock %}
	</head>
	<body>
		{% for label, flashes in app.session.flashbag.all %}
			{% for flash in flashes %}
				{% if ( label == 'success' ) %}
					<div class="alert alert-success alert-dismissible fade show">
						{{ flash }}
					</div>
				{% elseif ( label == 'error' ) %}
					<div class="alert alert-danger alert-dismissible fade show">
						{{ flash }}
					</div>
				{% endif %}
			{% endfor %}
		{% endfor %}

		{% include 'util/app_bar.html.twig' %}
		<div class="body"> {% block body %}{% endblock %}
			</div>
		</body>
	</html>
